<?xml version="1.0"?>
<launch>

  <include file="$(find ros_viconstream)/launch/vicon.launch">
  <!--<arg name="mav_name" default=""/>
  <arg name="namespace" default=""/> -->
  </include>

  <node name="controller" pkg="bt_project" type="crazyflie_controller.py" output="screen">
    <remap from="odom" to="odom?"/>
    <remap from="reference" to="goalPose?"/>
    <remap from="cmd_vel" to="crazyflie_cmd_vel?"/>
  </node>


</launch>
